.logo {
    height: 32px;
    /* background-image: url("https://ipfs.io/ipfs/QmW9SHLoW1aDcPb6Zyht6QvSqF7AAVUNK9ksYNxvFcyTm1"); */
    /* background-color: black; */
    margin: 14px;
}

.site-layout-content {
    padding: 24px;
    margin: 0 auto;
    max-width: 1024px;
    min-height: 100vh;
}

#components-layout-landing.logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
    text-align: center;
}

.site-layout-content > .ant-row {
    min-height: 360px;
}

#projects-row {
    min-height: 0;
}

.ant-result-extra a {
    padding: 10px 40px;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
}

.ant-result-extra a span {
    height: 50px;
    line-height: 50px;
}