.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 100vh;
}

#components-layout-landing.logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
    text-align: center;
}

.site-layout-content > .ant-row {
    min-height: 360px;
}

#projects-row {
    min-height: 0;
}